<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Logs</title>
</head>
<body>
    {% extends "learning_logs/base.html" %}

    {% block content %}
        <h2>Topic {{ topic }}</h2>
        <h2>Entries: </h2>
        <ul>
            {% for entry in entries %}
                <li>{{ entry }}</li>
            {% empty %}
                <h3>There's not any entry here</h3>
            {% endfor %}
        </ul>
    {% endblock content %}
</body>
</html>